</div>

<% let year = new Date().getFullYear(); %> 

<footer>
  
  <div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <span>Copyright © <%=year%> , All Rights Reserved. </span>
            </div>
            <div class="col-md-6">
                <div class="copyright-menu">
                    <ul>
                        <li>
                          <a href="mailto:surajr.adav@gmail.com"><i class="fas fa-envelope"> </i> </a>
                        </li>
                        <li>
                          <a href="https://www.github.com/adavSuraj"><i class="fab fa-github"></i> </a>
                        </li>
                        <li>
                          <a href="https://www.linkedin.com/in/suraj-adav"><i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>
    
</body>
</html>
