</div>

  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved 
          </p> 
        </div>
    </div>
    </div>
    
</footer>

<!-- <footer>
  
  <div class="footer-padding"></div>
  
  <div class="footer">
    <div class="links">
      <a href="mailto:surajr.adav@gmail.com"><i class="fas fa-envelope"> </i> </a>
      <a href="https://www.github.com/suraj-adav"><i class="fab fa-github"></i> </a>
      <a href="https://www.linkedin.com/in/suraj-adav"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.twitter.com/SurajAdav"><i class="fab fa-twitter"></i></a>
    </div>
    
    
  </div>
</footer> -->
</body>
</html>
