<%- include('partials/header'); -%> 

<h1> About </h1>

<h6>“Start writing, no matter what. The water does not flow until the faucet is turned on.” ― Louis L'Amour <br> </h6> 
<p>  The quote above not only inspired me to write, but also to code, or just do anything new. It might seem difficult and dreadful at first, but keep going and soon you'll look back to when you started and how see far you've come.</p>

<p>Welcome to your very own minimalist daily journal. This app is for anyone who's looking for a space to pen their thoughts into, we do not ask for any sensitive information and your data stays safe with us. Simply click on compose and get started! The rest of the design is pretty intuitive. 

</p>


<%- include('partials/footer'); -%> 